.register-container {
    width: 100%;
    padding-bottom: 50px;
}

.register-container .heading {
    font-size: 2rem;
    font-weight: 400;
    padding: 20px 0;
    text-align: center;
}   
     
.register-container .image {
    width: 95vw;
    max-width: 500px;
    padding: 20px 0 40px 0;
}
        
    
.register-container .form.regsiter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 10px;
}
  

.register-container .btn-container {
    margin-top: 30px;
}

.register-container .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    border: 0; 
    background-color: #cf3c3c;
    color: #ffffff;
    border-radius: 3px;
    font-family: "Poppins", sans-serif;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out, box-shadow 200ms ease-in-out;
    cursor: pointer;
}

.register-container .btn.loading:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 9px;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    margin-left: 5px;
    animation: loading-rotate 500ms linear infinite;
}

.register-container .btn:active {
    box-shadow: 0 0 10px #444444;
}

.register-container .error-text {
    font-size: 0.8rem;
    font-weight: 800;
    color: #b90000;
}

.register-container .btn:hover {
    background-color: #b13030;
}

@keyframes loading-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}