.register-container {
    width: 100%;
    padding-bottom: 50px;
}

.register-container .heading {
    font-size: 2rem;
    font-weight: 400;
    padding: 20px 0;
    text-align: center;
}   
     
.register-container .image {
    width: 95vw;
    max-width: 500px;
    padding: 20px 0 40px 0;
}
        
    
.register-container .form.regsiter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 10px;
}

.register-container .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}  

.register-container .btn-container {
    margin-top: 30px;
}