

.user {
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.user header {
  background: #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}

.user .picture-container {
  margin: -160px 0 0 0;
  padding: 0 1em 0 1em;
}

.user .picture-container img {
  border-radius: 4px;
  border: 8px solid #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  display: inline;
  margin: 0 0 0 1em;
  width: 200px;
}

.user .picture-container h2 {
  display: inline;
  font-size: 3em;
  padding: 0 0 0 .5em;
  width: auto;
}

.user .flag .icon {
  display: inline-block;
  padding-bottom: .1em;
  width: auto;
}

.user .description,
.user .medals {
  font-size: 1.6em;
  padding: 1em;
}

.user .medals p {
  font-size: 1em;
}

.user .medals li {
  list-style: none;
}

.user .medals .symbol {
  border-radius: 50%;
  display: inline-block;
  font-size: .8em;
  height: 1.6em;
  justify-content: center;
  margin: 5px;
  text-align: center;
  width: 1.6em;
}

.user .medals .symbol.symbol-G {
  color: #daa520;
  background-color: #fff6de;
  border: 2px solid #daa520;
}

.user .medals .symbol.symbol-S {
  color: #383738;
  background-color: #b9b5b5;
  border: 2px solid #383738;
}

.user .medals .symbol.symbol-B {
  color: #6b1919;
  background-color: #ea96a1;
  border: 2px solid #6E1924;
}

.navigateBack {
  font-size: 1.6em;
  padding: 2em;
  text-align: center;
  text-decoration: none;
}

#abar {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

#abar a {
  background: #ffa500;
  color: #000;
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

#abar a:hover {
  text-decoration: underline;
}
