.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 70px;
  width: 100vw;
  background: #161616;
  padding: 5px 20px;
  box-shadow: 0 0 4px #7e7e7e;
  color: #FFFFFF;
  z-index: 50;
}

.navbar nav {
  visibility: hidden;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 300ms, visibility 0s 300ms;
  height: 100vh;
  overflow-y: auto;
  width: 100vw;
  background-color: #161616F9;
  z-index: 100;
}

.navbar nav.is-active {
  visibility: visible;
  transition: opacity 300ms ease-in-out;
  opacity: 1;
}

.navbar .menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  width: 70px;
  padding: 15px 12px;
  z-index: 101;
  cursor: pointer;
}

.navbar .menu-btn .bar {
  height: 4px;
  border-radius: 2px;
  width: 80%;
  background-color: #FFFFFF;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, background-color 300ms ease-in-out;
}

.navbar .menu-btn.is-active .bar:nth-child(1) {
  transform: translateY(12px) rotate(45deg) translateX(-1px);
  background-color: rgb(207, 60, 60);
}

.navbar .menu-btn.is-active .bar:nth-child(2) {
  opacity: 0;
}

.navbar .menu-btn.is-active .bar:nth-child(3) {
  background-color: rgb(207, 60, 60);
  transform: translateY(-12px) rotate(-45deg) translateX(-2px);
}

.navbar .nav-link {
  text-decoration: none;
  color: #FFFFFF;
  margin: 15px 0;
  font-size: 1.2rem;
  font-weight: 800;
}

.navbar .nav-link.nav-btn {
  padding: 5px 15px;
  margin: 5px 5px;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  border-radius: 5px;
}

.navbar .nav-link.nav-btn.nav-btn-theme {
  border: 2px solid rgb(207, 60, 60);
  color: rgb(207, 60, 60);
}

.navbar .nav-link.nav-btn::after {
  display: none;
}

.navbar .nav-link.nav-btn:hover {
  background-color: #FFFFFF;
  color: #161616;
}

.navbar .nav-link.nav-btn.nav-btn-theme:hover {
  background-color: rgb(207, 60, 60);
  color: #FFFFFF;
}

.navbar .nav-link::after {
  content: "";
  display: block;
  position: relative;
  top: -2px;
  width: 0;
  transition: width 200ms ease-in-out;
  height: 3px;
  background-color: rgb(207, 60, 60);
}

.navbar .nav-link:hover::after {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .navbar nav {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
  }

  .navbar .menu-btn {
    display: none;
  }

  .navbar .nav-link {
    padding: 5px 5px;
    margin: 0 5px;
    font-size: 1rem;
  }
}