
  
  .x1 {
    width: 500px;
    margin: 0px auto;
  }
  
  .note {
    color: gray;
    margin: 8px 0;
  }
  
  input.active:valid {
    box-shadow: 0 0 5px 1px green;
  }
  
  input.active:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }