@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.app main {
  margin-top: 70px; /* Space left for navbar */
}

.app h1 {
  font-weight: 400;
  font-size: 2rem;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}



.home-root {
  min-height: calc(100vh - 66px);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */

/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/* FormGroups */
      
.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  margin-bottom: 30px;
  width: 100%;
}
  
.form-group .label {
  font-size: 1rem;;
}
      
.form-group .input, .form-group .select {
  outline: none;
  padding: 0px 10px;
  margin: 0;
  min-width: unset;
  width: 95vw;
  max-width: 400px;
  height: 40px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  background-color: #efefef;
  border: 2px solid #efefef;
  color: #222222;
  border-radius: 4px;
  transition: all 250ms ease-in-out;
}

.form-group .input.error {
  outline: 2px solid #ce2929;
}

.form-group .input:focus, .form-group .select:focus, .form-group .button {
  border: 2px solid #aed2eb;
}