@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

.app main {
  margin-top: 70px; /* Space left for navbar */
}

.app h1 {
  font-weight: 400;
  font-size: 2rem;
}